# 
DATABASE_URL="mysql://root:password@localhost:3306/taskflow"
DATABASE_NAME=taskflow
DATABASE_PASSWORD=your_password_here
DATABASE_HOST=localhost
DATABASE_USER=your_user_here

# 
PORT=5000
NODE_ENV=development

# 
JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRES_IN="7d"

# 
CLIENT_URL="http://localhost:5173"

# 
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"